.form {
    display: flex;
    flex-direction: column;
    background-color: var(--green-color);
    padding: 2rem;
    border-radius: 20px;
    max-width: 300px;
}

.inputText {
    padding: 0.8rem 1.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

.loginButton {
    background-color: var(--blue-color);
    color: white;
    font-weight: 600;
}
.loginButton:focus,
.loginButton:hover {
    cursor: pointer;
}

.createButton {
    width: 75%;
    align-self: center;
    font-weight: 600;
    color: white;
    background-color: var(--pink-color);
}
.createButton:focus,
.createButton:hover {
    cursor: pointer;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}